body{
    font-family: "Roboto",
        sans-serif;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
.logo-header .logo-part{
    color: #4d5ae5;
}

.nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.nav-link:hover, .nav-link:focus, .address-link:hover, 
.address-link:focus{
    color: #404bbf;
}

.address-link{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero{
    background-color: #2e2f42;
}
.hero-title{
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-btn{
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#fff
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404bbf;;
}
.benefits-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team{
    background-color: #f4f4fd;
}
.team-title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-item{
    background-color: #fff;
}
.team-name{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-text{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}

.portfolio-title{
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.portfolio-subtitle{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-text{
    letter-spacing: 0.02em
}
.footer{
    background-color: #2e2f42;
}
.logo-footer{
            font-family: "Raleway",
                    sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #f4f4fd;
}
.logo-footer .logo-part{
    color: #4d5ae5;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}